@import '../../styles/variables.scss';

nav.container {
  margin-top: 50px;
  width: calc((100vw - 720px) / 2 - 50px);
  display: none;
  @media screen and (min-width: 1200px) {
    position: sticky;
    top: 70px;
    display: block;
    max-width: 280px;
    overflow: auto;
    word-break: break-word;
    max-height: calc(100vh - 200px);
    font-size: 14px;
  }
  .title {
    margin-bottom: 15px;
    margin-left: 20px;
    color: $light-toc-heading-color;
  }
  .contents {
    ul {
      list-style: none;
      margin-left: 15px;
      margin-bottom: 0px;
    }
    ul > li {
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0;
    }
    ul > li a {
      color: $light-toc-content-color;
    }
    ul > li a.isCurrent {
      font-size: 15px;
      color: $light-toc-current-color;
      font-weight: 600;
    }
  }
}
