.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
  padding-top: 0;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.new {
  display: inline;
  font-style: italic;
  color: #3c84a0;
}

.class {
  display: inline;
}

.bracket {
  display: inline;
  color: #ebc713;
}

.parameter {
  display: inline;
}
